body{
    /* background: rgb(249,243,245); */
    background: radial-gradient(circle, rgba(249,243,245,1) 0%, rgba(20,109,213,1) 100%);
    
}
.title{
    text-align: center;
    font-size: 40px;
    /* color: grey; */
}
.main {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    /* height:100%; */
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main > h1{
    margin: 0;
}
.attribute{
    font-weight: bold;
    font-size: 20px;
}
.container1{
    background-color: chocolate;
    display: grid;
    /*note: GRID-TEMPLATE-COLUMNS define el numero de columnas que se tendrá dentro el grid
    puedes poner el tamaño de las columnas con diferentes medidas
    px - % - vw - auto - fr (fracción)*/
    grid-template-columns:1fr 1fr;
    
    /*note: LAS FILAS SE CREARAN DE MANERA AUTOMÁTICA PERO:
    CON GRID-TEMPLATE-ROW se define la ALTURA de las filas
    y se puede utilizar las mismas unidades de medida*/
    /*bug: Se debe tener cuidado cuando se defina las finas por que se puede
    crea cuadriculas aunque estas no tengan contenido. LA CUADRICULA QUEDARA VACÍA
    PERO OCUPARA ESPACIO DENTRO DE LA GRID*/
    grid-template-rows: 25px 70px;

    /*note: GRID-AUTO-ROW especificamos que las filas que se creen de manera 
    automática tengan una ALTURA específica*/
    grid-auto-rows: 100px;
}
.caja{
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
}